In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("D:\\Ultimate Programming\\Data Bases\\Expense3.xlsx")

In [5]:
df.head()

        Date    Category Sub-Category   Amount Payment Mode
0 2023-01-01     Grocery       Grocery    30.0         Cash
1 2023-01-02        Food    Restaurant   890.0          UPI
2 2023-01-04         123        Zomato   257.0          NaN
3 2023-01-06  Essentials         Diary   120.0          UPI
4 2023-01-06  Essentials       Perfume  1500.0         Cash

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           36 non-null     datetime64[ns]
 1   Category       36 non-null     object
 2   Sub-Category   36 non-null     object
 3   Amount         36 non-null     float64
 4   Payment Mode   31 non-null     object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.5+ KB

In [11]:
df['Date']=pd.to_datetime(df['Date'], format='%d-%m-%y')

In [12]:
df.head()

        Date    Category Sub-Category   Amount Payment Mode
0 2023-01-01     Grocery       Grocery    30.0         Cash
1 2023-01-02        Food    Restaurant   890.0          UPI
2 2023-01-04         123        Zomato   257.0          NaN
3 2023-01-06  Essentials         Diary   120.0          UPI
4 2023-01-06  Essentials       Perfume  1500.0         Cash

In [16]:
profit = df[(df['Amount']>800) & (df['Category']=='Food')]
profit

        Date Category Sub-Category   Amount Payment Mode
1 2023-01-02     Food    Restaurant   890.0          UPI

In [17]:
print( df[(df['Amount']>800) & (df['Category']=='Food')])

        Date Category Sub-Category   Amount Payment Mode
1 2023-01-02     Food    Restaurant   890.0          UPI